@keyframes nameshow{
    0%{
        transform: translate(14%);
    }
    50%{
        transform: translate(112%);
    }
    100%{
        transform: translate(14%);
    }
}
@keyframes shake{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}


